<%= render 'shared/errors', obj: @merchandise %>
    <div>
    <%= form_for @merchandise do |f| %>

        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "Title of merchandise", autofocus: true %>
        <br />
        <%= f.label :description %>
        <%= f.text_area :description, rows: 10, placeholder: "Description the status and spec of your merchandise" %>
        <br />
        <%= f.label :price %>
        <%= f.text_field :price, placeholder: "Price of merchandise" %>
        <br />
        <!--<%#= f.label :amount %>-->
        <!--<%#= f.text_field :amount, placeholder: "Amount of merchandise" %>-->
        <!--<br />-->
        <%= f.select :category_id, options_for_select(@categories.collect { |category|
            [category.name, category.id] }, 1), {}, { id: 'categories_select' } %>
        <%= f.select :category_id, options_for_select(@subcategories.collect { |subcategory|
            [subcategory.name, subcategory.id] }, 0), {}, { id: 'subcategories_select' } %>
        <br />
        <%= f.label :location_id %>
        <%= f.collection_select(:location_id, Location.where(user_id: current_user), :id, :alias, prompt: true) %>
        <br />
        <div class="well">
        <%= f.label :image_1 %>
        <%= f.file_field :image_1 %>
        <% if f.object.image_1? %>
          <br />
          <%= image_tag (f.object.image_1.url(:small)) %><br />
          <em>Currently Uploaded Image</em>
          <p>
            <%= f.object.image_1_file_name %>
          </p>
        <% end %>
        </div>    
        <div class="well">
        <%= f.label :image_2 %>
        <%= f.file_field :image_2 %>
        <% if f.object.image_2? %>
          <br />
          <%= image_tag (f.object.image_2.url(:small)) %><br />
          <em>Currently Uploaded Image</em>
          <p>
            <%= f.object.image_2_file_name %>
          </p>
        <% end %>
        </div>
        <div class="well">
        <%= f.label :image_3 %>
        <%= f.file_field :image_3 %>
        <% if f.object.image_3? %>
          <br />
          <%= image_tag (f.object.image_3.url(:small)) %><br />
          <em>Currently Uploaded Image</em>
          <p>
            <%= f.object.image_3_file_name %>
          </p>
        <% end %>
        </div>
        <br />
        <%= f.submit class: 'btn btn-default btn-lg' %>
    <% end %>
    </div>
    <%= link_to "Cancel request and return to merchandise listing", merchandises_path %>
