<div id="product-filter">
  <div class="filter-label">尋找</div>
  <div class="filter-group">
    <div class="filter-select">
      全部
    </div>
    <ul class="filter-item">
      <li data-filter="*" class="active">全部</li>
      <li data-filter=".aa">氣墊襪</li>
      <li data-filter=".bb">機能襪</li>
      <li data-filter=".cc">船型襪</li>
      <li data-filter=".dd">休閒襪</li>
    </ul>
  </div>
</div>
<div id="products">
    <ul class="content">
        <li class="product-list aa" data-index="氣墊襪">
            <a href="detail.htm">
                <div class="product-img">
                  <%= image_tag "merchandise/1.jpg" %>
                </div>
                <div class="product-info">
                    <p class="name">氣墊襪</p>
                    <p class="price">$168</p>
                </div>
            </a>
            <div class="mask">
                <div class="addToCart">
                    <a href="javascrpt:;">view</a>
                </div>
            </div>
        </li>
        <li class="product-list aa" data-index="氣墊襪">
            <a href="detail.htm">
                <div class="product-img">
                  <%= image_tag "merchandise/2.jpg" %>
                </div>
                <div class="product-info">
                    <p class="name">氣墊襪</p>
                    <p class="price">$168</p>
                </div>
            </a>
            <div class="mask">
                <div class="addToCart">
                    <a href="javascrpt:;">view</a>
                </div>
            </div>
        </li>
        <li class="product-list aa" data-index="氣墊襪">
            <a href="detail.htm">
                <div class="product-img">
                  <%= image_tag "merchandise/3.jpg" %>
                </div>
                <div class="product-info">
                    <p class="name">氣墊襪</p>
                    <p class="price">$168</p>
                </div>
            </a>
            <div class="mask">
                <div class="addToCart">
                    <a href="javascrpt:;">view</a>
                </div>
            </div>
        </li>
        <li class="product-list bb" data-index="機能襪">
            <a href="detail.htm">
                <div class="product-img">
                  <%= image_tag "merchandise/4.jpg" %>
                </div>
                <div class="product-info">
                    <p class="name">機能襪</p>
                    <p class="price">$168</p>
                </div>
            </a>
            <div class="mask">
                <div class="addToCart">
                    <a href="javascrpt:;">view</a>
                </div>
            </div>
        </li>
        <li class="product-list bb" data-index="機能襪">
            <a href="detail.htm">
                <div class="product-img">
                  <%= image_tag "merchandise/5.jpg" %>
                </div>
                <div class="product-info">
                    <p class="name">機能襪</p>
                    <p class="price">$168</p>
                </div>
            </a>
            <div class="mask">
                <div class="addToCart">
                    <a href="javascrpt:;">view</a>
                </div>
            </div>
        </li>
        <li class="product-list bb" data-index="機能襪">
            <a href="detail.htm">
                <div class="product-img">
                  <%= image_tag "merchandise/6.jpg" %>
                </div>
                <div class="product-info">
                    <p class="name">機能襪</p>
                    <p class="price">$168</p>
                </div>
            </a>
            <div class="mask">
                <div class="addToCart">
                    <a href="javascrpt:;">view</a>
                </div>
            </div>
        </li>
        <li class="product-list cc" data-index="船型襪">
            <a href="detail.htm">
                <div class="product-img">
                  <%= image_tag "merchandise/7.jpg" %>
                </div>
                <div class="product-info">
                    <p class="name">船型襪</p>
                    <p class="price">$168</p>
                </div>
            </a>
            <div class="mask">
                <div class="addToCart">
                    <a href="javascrpt:;">view</a>
                </div>
            </div>
        </li>
        <li class="product-list cc" data-index="船型襪">
            <a href="detail.htm">
                <div class="product-img">
                  <%= image_tag "merchandise/8.jpg" %>
                </div>
                <div class="product-info">
                    <p class="name">船型襪</p>
                    <p class="price">$168</p>
                </div>
            </a>
            <div class="mask">
                <div class="addToCart">
                    <a href="javascrpt:;">view</a>
                </div>
            </div>
        </li>
        <li class="product-list cc" data-index="船型襪">
            <a href="detail.htm">
                <div class="product-img">
                  <%= image_tag "merchandise/9.jpg" %>
                </div>
                <div class="product-info">
                    <p class="name">船型襪</p>
                    <p class="price">$168</p>
                </div>
            </a>
            <div class="mask">
                <div class="addToCart">
                    <a href="javascrpt:;">view</a>
                </div>
            </div>
        </li>
        <li class="product-list dd" data-index="休閒襪">
            <a href="detail.htm">
                <div class="product-img">
                  <%= image_tag "merchandise/10.jpg" %>
                </div>
                <div class="product-info">
                    <p class="name">休閒襪</p>
                    <p class="price">$168</p>
                </div>
            </a>
            <div class="mask">
                <div class="addToCart">
                    <a href="javascrpt:;">view</a>
                </div>
            </div>
        </li>
    </ul>
</div>