<h1 align="center">Welcome to <%= @user.username %>'s page</h1>

<h4 align="center">
<% if @user.avatar? %>
    <%= image_tag @user.avatar.url(:medium) %>
<% end %>
<br />
<%= @user.username %>'s merchandises
</h4>
<p align="center">
    <% if logged_in? && current_user==@user %>
        <%= link_to "Edit my location", locations_path %>
    <% end %>
</p>

<%= render 'merchandises/merchandise', obj: @user.merchandises %>
