<%= render 'shared/errors', obj: @order %>
<%= form_for @order, html: { role: "form", class: 'cc-form' } do |f| %>
  <!--<div class="field">-->
  <!--  <%#= f.label 'Name:' %>-->
  <!--  <%#= f.text_field :buyer, size: 40 %>-->
  <!--</div>-->
  <div class="form-group">
    <div class="row col-md-12">
      <div class="form-group col-md-4 no-left-padding">
        <%= f.label :payment_method %>
        <%= f.select :payment_method, Order::PAYMENT_METHODS,
                      prompt: 'Select a payment method' %>
      </div>
      <div class="form-group col-md-4">
        <%= content_tag :p, '商品地點: ' + "#{@cart.line_items.first.merchandise.location.city.name}" %>
      </div>
    </div>    
  </div>
  <div class="form-group">
    <div class="row col-md-12">
      <div class="form-group col-md-4 no-left-padding">
        <%= f.label 'Shipping Location' %>
        <%= f.collection_select(:location_id, Location.where(user_id: current_user), :id, :alias, prompt: true) %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Place Order', class: 'btn btn-default btn-md'  %>
  </div>

<% end %>