<h1 text-align="center">Create New Category</h1>
<%= render 'shared/errors', obj: @category %>

<%= form_for @category do |f| %>
    <%= f.label :category %>
    <%= f.text_field :name, placeholder: "Enter category name", autofocus: true %>
    <br />
    <%= f.submit %>
<% end %>
<%= link_to "Cancel request and return to merchandises listing", merchandises_path %>
