<%= render 'shared/errors', obj: @location %>
    <div>
    <%= form_for @location do |f| %>
        <%= f.label '地點名稱' %>
        <%= f.text_field :alias, placeholder: "Enter a name for this location", autofocus: true %>
        <br />
        <%= f.label :recipient %>
        <%= f.text_field :recipient, placeholder: "Enter recipient name" %>
        <br />
        <%= f.label :city_id %>
        <%= f.collection_select(:city_id, City.where(parent_id: nil), :id, :name, prompt: true) %>
        <br />
        <%= f.label :address %>
        <%= f.text_field :address, rows: 10, placeholder: "Description the status and spec of your location" %>
        <br />
        <%= f.label :phone %>
        <%= f.text_field :phone, placeholder: "Enter recipient phone number" %>
        <br />
        <%= f.label '緯度' %>
        <%= f.text_field :lat %>
        <br />
        <%= f.label '經度' %>
        <%= f.text_field :long %>
        <br />
        <%= f.submit %>
    <% end %>
    </div>
    <%= link_to "Cancel request and return to location listing", locations_path %>
