<%= render 'shared/errors', obj: @location %>
    <div>
    <%= form_for @location do |f| %>
        <%= f.label '地點名稱' %>
        <%= f.text_field :alias, placeholder: "Enter a name for this location", autofocus: true %>
        <br />
        <%= f.label :recipient %>
        <%= f.text_field :recipient, placeholder: "Enter recipient name" %>
        <br />
        <%= form_for :trip, url: { action: "show" }, html: { method: "get" } do |f| %>
          <%= f.select :parent_id, options_for_select(@cities.collect { |city|
            [city.name, city.id] }, 1), {}, { id: 'cities_select' } %>
          <%= f.select :id, options_for_select(@districts.collect { |district|
            [district.name, district.id] }, 0), {}, { id: 'districts_select' } %>
        <br />
        <%= f.label :address %>
        <%= f.text_field :address, rows: 10, placeholder: "Enter rest of address" %>
        <br />
        <%= f.label :phone %>
        <%= f.text_field :phone, placeholder: "Enter phone number" %>
        <br />
        <%= f.label '緯度' %>
        <%= f.text_field :lat %>
        <br />
        <%= f.label '經度' %>
        <%= f.text_field :long %>
        <br />
        <%= f.submit %>
    <% end %>
    </div>
    <%= link_to "Cancel request and return to location listing", locations_path %>
