<table>
    <tr>
       <th>#</th>
       <th>Recipient</th>
       <th>Address</th>
       <th>Phone</th>
       <th>Actions</th>
    </tr>
    <% obj.each do |location| %>
        <tr>
            <td><%= location.id %></td>
            <td><%= location.recipient %></td>
            <td>
                <%#= location.postcode %>
                <%= location.city %>
                <%= location.address %>
            </td>
            <td><%= location.phone %></td>
            <td>
                <%= link_to "Edit", edit_location_path(location) %>
                <%= link_to "Delete", location_path(location), method: :delete, 
                                                data: { confirm: "Are you sure you want to delete this location?"} %>
            </td>
        </tr>
    <% end %>
</table>
<%= link_to "Add new location", new_location_path %>