<!DOCTYPE html>
<html>
<head>
  <title>Flea Market</title>
  <meta name="viewport" content="width=device-width; maximum-scale=1.0; user-scalable=1;">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lte IE 8]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
  </script><![endif]-->
</head>
<body class="<%= params[:controller] + '-' + params[:action] %>">
  <%= render 'layouts/header' %>
  <%= render 'layouts/nav' %>
  <%= render 'layouts/categoryarea' %>
  <%= render 'layouts/messages' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/gotopbtn' %>
</body>
</html>
